<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".contact_info" %>
  <ul>
    <li>
      <%= t ".email" %> <a href="mailto:nguyen.minh.tuan@framgia.com">
        nguyen.minh.tuan@framgia.com</a>
    </li>
    <li>
      <%= t ".official" %>
      <a href="https://framgia.com">https://framgia.com</a>
    </li>
  </ul>
</p>
