<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="fglogo"><%= link_to image_tag("framgia_logo.png"), "/pages/home" %></div>
    <div class="menulogo">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t(".home"), "/pages/home" %></li>
          <li><%= link_to t(".help"), "/pages/help" %></li>
          <li><%= link_to t(".log_in"), "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
